*{
    background-color: #3c3836;
    color: #d79921;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td,th{
    border: 2px solid #d79921;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 30px;
}

h1{
    font-size: 52px;
}

.hiddentable{
    display: none;
}

.WeekNumber {    
    width: 50%;              
}

.week{
    width: 100%;             
    text-align: center; 
    cursor: pointer;      
}

.WeekNumber td {
    text-align: center;        
}

a{
    text-decoration: none;
}


